<div>
    <div class="onoffswitch" style="display: inline-block;">
      <input type="checkbox" name="onoffswitch-{{tableName}}" class="onoffswitch-checkbox" id="myonoffswitch-{{tableName}}" onchange="toggleLayer('feature', '{{tableName}}')">
      <label class="onoffswitch-label" for="myonoffswitch-{{tableName}}">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <div id="feature-{{tableName}}" class="table-name" style="display: inline-block;">Feature Table: {{tableName}} (<span class="count">{{count}}</span>) <a href="javascript:void(0);" onclick="$(this).parent().next().toggle()">details</a><a style="padding-left: 7px" href="javascript:void(0);" onclick="zoomTo({{contents.minX}}, {{contents.minY}}, {{contents.maxX}}, {{contents.maxY}}, '{{contents.srs.organization}}:{{contents.srs.organization_coordsys_id}}')">zoom to</a><a style="padding-left: 7px" href="javascript:void(0);" onclick="downloadGeoJSON('{{tableName}}')">Download Layer as GeoJSON</a></div>
    <div class="table" style="display: none;">
      <div class="tab active" style="display: inline-block;" onclick="$(this).parent().find('.metadata').show(); $(this).parent().find('.features').hide();; $(this).parent().find('.tab').toggleClass('active');">Metadata</div>
      <div class="tab" style="display: inline-block;" onclick="$(this).parent().find('.features').show(); $(this).parent().find('.metadata').hide(); loadFeatures('{{tableName}}', $(this).parent().find('.features')); $(this).parent().find('.tab').toggleClass('active');">Features</div>
      <div class="metadata">
        <div class="srs">
          <div class="section-title">Features Spatial Reference System</div>
          <div class="section">
            <div class="item"><span class="label">SRS Name: </span><span class="value">{{srs.name}}</span></div>
            <div class="item"><span class="label">SRS ID: </span><span class="value">{{srs.id}}</span></div>
            <div class="item"><span class="label">Organization: </span><span class="value">{{srs.organization}}</span></div>
            <div class="item"><span class="label">Coordsys ID: </span><span class="value">{{srs.organization_coordsys_id}}</span></div>
            <div class="item"><span class="label">Definition: </span><span class="value">{{srs.definition}}</span></div>
            <div class="item"><span class="label">Description: </span><span class="value">{{srs.description}}</span></div>
          </div>
        </div>
        <div class="contents">
          <div class="section-title">Contents</div>
          <div class="section">
            <div class="item"><span class="label">Table Name: </span><span class="value">{{contents.tableName}}</span></div>
            <div class="item"><span class="label">Data Type: </span><span class="value">{{contents.dataType}}</span></div>
            <div class="item"><span class="label">Identifier: </span><span class="value">{{contents.identifier}}</span></div>
            <div class="item"><span class="label">Description: </span><span class="value">{{contents.description}}</span></div>
            <div class="item"><span class="label">Last Change: </span><span class="value">{{contents.lastChange}}</span></div>
            <div class="item"><span class="label">Min X: </span><span class="value">{{contents.minX}}</span></div>
            <div class="item"><span class="label">Min Y: </span><span class="value">{{contents.minY}}</span></div>
            <div class="item"><span class="label">Max X: </span><span class="value">{{contents.maxX}}</span></div>
            <div class="item"><span class="label">Max Y: </span><span class="value">{{contents.maxY}}</span></div>
            <div class="srs">
              <div class="section-title">Contents Spatial Reference System</div>
              <div class="section">
                <div class="item"><span class="label">SRS Name: </span><span class="value">{{contents.srs.name}}</span></div>
                <div class="item"><span class="label">SRS ID: </span><span class="value">{{contents.srs.id}}</span></div>
                <div class="item"><span class="label">Organization: </span><span class="value">{{contents.srs.organization}}</span></div>
                <div class="item"><span class="label">Coordsys ID: </span><span class="value">{{contents.srs.organization_coordsys_id}}</span></div>
                <div class="item"><span class="label">Definition: </span><span class="value">{{contents.srs.definition}}</span></div>
                <div class="item"><span class="label">Description: </span><span class="value">{{contents.srs.description}}</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="geometryColumns">
          <div class="section-title">Geometry Columns</div>
          <div class="section">
            <div class="item"><span class="label">Table Name: </span><span class="value">{{geometryColumns.tableName}}</span></div>
            <div class="item"><span class="label">Column Name: </span><span class="value">{{geometryColumns.columnName}}</span></div>
            <div class="item"><span class="label">Geometry Type Name: </span><span class="value">{{geometryColumns.geometryTypeName}}</span></div>
            <div class="item"><span class="label">Z: </span><span class="value">{{geometryColumns.z}}</span></div>
            <div class="item"><span class="label">M: </span><span class="value">{{geometryColumns.m}}</span></div>
          </div>
        </div>
        <div class="columns">
          <div class="section-title">{{tableName}} columns:</div>
          <div class="section">
            {{#columns}}
            <div class="column">
              <div class="item"><span class="label">Index: </span><span class="value">{{index}}</span></div>
              <div class="item"><span class="label">Name: </span><span class="value">{{name}}</span></div>
              <div class="item"><span class="label">Data Type: </span><span class="value">{{dataType}}</span></div>
              <div class="item"><span class="label">Max: </span><span class="value">{{max}}</span></div>
              <div class="item"><span class="label">Not Null: </span><span class="value">{{notNull}}</span></div>
              <div class="item"><span class="label">Default Value: </span><span class="value">{{defaultValue}}</span></div>
              <div class="item"><span class="label">Primary Key: </span><span class="value">{{primaryKey}}</span></div>
              {{#dataColumn}}
              <div class="section-title">Data Column:</div>
              <div class="section">
                <div class="dataColumn">
                  <div class="item"><span class="label">Name: </span><span class="value">{{dataColumn.name}}</span></div>
                  <div class="item"><span class="label">Title: </span><span class="value">{{dataColumn.title}}</span></div>
                  <div class="item"><span class="label">Description: </span><span class="value">{{dataColumn.description}}</span></div>
                  <div class="item"><span class="label">Mime Type: </span><span class="value">{{dataColumn.mime_type}}</span></div>
                </div>
              </div>
              {{/dataColumn}}
            </div>
            {{/columns}}
          </div>
        </div>
      </div>
      <div class="features" style="display: none;">
      </div>
    </div>
    <hr>
  </div>